{% extends 'base.html' %}

{% block content %}

<div class="container">
    <!-- Header Section -->
    <header class="row">
        <div class="col-12 col-md-12" id="header-text">
            <h1 class="display-1 text-center">Everything you need to know about the cards, in one spot.</h1>
            <br>
            <h5 class="text-center fs-4">What are the cards telling you?</h5>
        </div>
        <!-- Header Image -->
        <div class="col-12 col-mg-6">
            <img src="../../static/images/header.png" alt="Header Image" class="header-img">
        </div>
    </header>
    <!-- End of Header Section -->
    <!-- Middle Section -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h1 class="display-2">Quick Reference at Your Fingertips</h1>
            <br>
            <h5 class="display-6">Use our API to curate your decks!</h5>
        </div>
    </section>
    <!-- End of Middle Section -->
    <!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4" id="keep-track">
            <img src="../../static/images/small-1.png" class="mx-auto d-block" alt="" id="card-image">
            <h4 class="fs-2 text-center display-2"><strong>Keep Track</strong></h4>
            <p class="fs-4 lh-lg display-5">Keep track of cards you do or don't already possess in any of your decks!</p>
        </div>
        <div class="col-12 col-md-4" id="decks">
            <img src="../../static/images/small-2.png" class="mx-auto d-block" id="jar-image">
            <h4 class="fs-2 text-center display-2"><strong>Decks</strong></h4>
            <p class="fs-4 lh-lg display-5">Keep all of your individual decks organized and neat!</p>
        </div>
        <div class="col-12 col-md-4" id="readings">
            <img src="../../static/images/small-3.png" class="mx-auto d-block" alt="" id="candle-image">
            <h4 class="fs-2 text-center display-2"><strong>Reference</strong></h4>
            <p class="fs-4 lh-lg display-5">Doing a reading and don't remember what The High Priestess means? Check with us!</p>
        </div>
    </section>
    <!-- End Collection of Features -->
    <!-- Start of Community Section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/community.png" alt="" id="community-image">
        </div>
        <div class="col-12 col-md-6">
            <h4 class="display-5" id="community-text">Talk with like-minded Readers!</h4>
            <p class="fs-4" id="community-text">
                Talk with other Readers around the world! Join groups based
                on what you like to use your cards for, or anything you like! There's something for everyone.
            </p>
            <div>
                <button class="btn btn-dark" id="discussion">Discussion Boards</button>
                <button class="btn btn-dark" id="slack">Join Our Slack</button>
            </div>
        </div>
    </section>
    <!-- End of Community Section -->
    <!-- Start of Footer Section -->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../../static/images/tarot project.png" alt="" id="footer-logo">
        </div>
        <div class="col-2 col-md-4">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why The Tarot Project?</p>
                <p>The Tarot Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-4">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why The Tarot Project?</p>
                <p>The Tarot Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-4">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why The Tarot Project?</p>
                <p>The Tarot Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-4">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why The Tarot Project?</p>
                <p>The Tarot Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-4">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why The Tarot Project?</p>
                <p>The Tarot Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        
    </footer>
</div>



{% endblock content %}