{% extends 'base.html' %}

{% block content %}
<header class="hero-section">
    <h3 class="header-text">Welcome to The Tarot Project, {{ current_user.email }}!</h3>
</header>

<div class="container" id="profile-details">
    <h3>Here are your profile details:</h3>
    <ul class="list-group">
        <li class="list-group-item">Email: {{ current_user.email }}</li>
        <li class="list-group-item">Token: {{ current_user.token }}</li>
        <!-- #Todo add user email and token -- jinja -->
    </ul>
</div>
{% endblock content %}